* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.headersec-box{
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, rgba(85, 0, 227, 1) 0%, rgba(198, 61, 255, 1) 100%);
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   
    img{
        width: 105px;
        height: 50px;
        margin-top: 15px;
    }

    nav ul {
        display: flex;
        gap: 30px;
        padding: 30px;

        li a {
            color: #fff;
            font-size: 18px;
        }
    }

    .search-icon {
        width: 35px;
        height: 35px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        
    }
}